 .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

/*styling for calendar*/
.date-as-calendar {
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;

    /* It seems vertical-align: baseline does not work correctly with display: inline-flex. */
    vertical-align: top;

    /* margin: 1ex; */

    color: black;
    background : linear-gradient(to bottom right, #FFF 0%, #EEE 100%);

    border: 1px solid #888;
    border-radius: 3px;
    overflow: hidden;

    box-shadow: 2px 2px 2px -2px black;
}

.date-as-calendar .month,
.date-as-calendar .year {
    text-align: center;
    line-height: 1.5;
}
.date-as-calendar .ref {
    text-align: left;
    line-height: 0.5;
}
.date-as-calendar .year {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background : linear-gradient(to bottom right, #43a047 25%, #CCFFCC 75%);
    color: black;
}

/****************************************/
/* Layout rules using position: absolute and relative dimensions using em. */
.position-em.date-as-calendar {
    display: inline-block;
    position: relative;

    width: 100%; 
    height: 4em; 
}

.position-em.date-as-calendar .ref,
.position-em.date-as-calendar .month,
.position-em.date-as-calendar .year {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1.5em;
}
.position-em.date-as-calendar .year {
    top: 0px;
    font-size: 0.75em;
}
.position-em.date-as-calendar .month {
    top: 0.75em;
    font-size: 1.5em;
}

.position-em.date-as-calendar .ref {
    bottom: 0px;
    margin-left: 5px;
    font-size: 0.3em;
}

/****************************************/
.date-as-calendar.size1_75x {
    font-size: 28px;
}

/*styling for disabled calendar*/
.date-as-calendar-disabled {
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;

    /* It seems vertical-align: baseline does not work correctly with display: inline-flex. */
    vertical-align: top;

    /* margin: 1ex; */

    color: black;
    background : #CCC;

    border: 1px solid #888;
    border-radius: 3px;
    overflow: hidden;

    box-shadow: 2px 2px 2px -2px black;
}

.date-as-calendar-disabled .month,
.date-as-calendar-disabled .year {
    text-align: center;
    line-height: 1.5;
}
.date-as-calendar-disabled .ref {
    text-align: left;
    line-height: 0.5;
}
.date-as-calendar-disabled .year {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background : linear-gradient(to bottom right, #C0C0C0 25%, #FFFFFF 75%);
    color: black;
}

/****************************************/
/* Layout rules using position: absolute and relative dimensions using em. */
.position-em.date-as-calendar-disabled {
    display: inline-block;
    position: relative;

    width: 100%; 
    height: 4em; 
}

.position-em.date-as-calendar-disabled .ref,
.position-em.date-as-calendar-disabled .month,
.position-em.date-as-calendar-disabled .year {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1.5em;
}
.position-em.date-as-calendar-disabled .year {
    top: 0px;
    font-size: 0.75em;
}
.position-em.date-as-calendar-disabled .month {
    top: 0.75em;
    font-size: 1.5em;
}

.position-em.date-as-calendar-disabled .ref {
    bottom: 0px;
    margin-left: 5px;
    font-size: 0.3em;
}

/****************************************/
.date-as-calendar-disabled.size1_75x {
    font-size: 28px;
}

.body-bg-white {
    background-color: #fefefe;
}

.login-card {
    margin-top: 120px;
    background-color: #4CAF50;
    padding: 0 10px 10px;
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.3);
}

.login-input input::placeholder {
    color: #555;
}

.login-logo {
    height: 200px;
}

.login-logo img {
    width: 250px !important;
    margin-left: auto;
    margin-right: auto;
}

.ddown-active {
    background-color: #4caf50;
    color: #fff !important;
}

.ddown-active i {
    color: #fff !important;
}

.ddown-active .caret {
    color: #fff;
}

.ddown-active:hover {
    color: #3C4858 !important;
}

.ddown-active:hover i {
    color: #a9afbb !important;
}

.ddown-active:hover .caret {
    color: #3C4858;
}

.ddown-active:focus {
    background-color: #4caf50 !important;
    color: #fff !important;
}

.ddown-active:focus i {
    color: #fff !important;
}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: inherit;
}

h5.textLabel {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

h6.paymenthead {
    font-size: 1.3em;
    font-weight: 500;
    text-align: left;
}

span.total {
    font-size: 1.35em;
    font-weight: bold;
    line-height: 48px;
}

th#electricity {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: white;
}

th#water {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    color: white;
}
th#gas {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    color: white;
}
th#electricity i {
    vertical-align: middle;
}
th#water i {
    vertical-align: middle;
}
th#gas i {
    vertical-align: middle;
}

#price {
    text-align: center;
    font-weight: bold;
}

#btn_activate {
    cursor: pointer;
}

.btn-active {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
    border: 3px solid #333;
}

.monthlystatement {
    color: black;
    background : linear-gradient(to bottom right, #FFF 0%, #EEE 100%);
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
}

tr.rowTest {
    font-size: 1em;
}

.oct-btn {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button {
    display: inline-block;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: #fff;
    background: #4CAF50;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 2px rgba(0,0,0,0.2);
}

.button:hover {background: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 4px 2px rgba(0,0,0,0.5);
    transform: translateY(4px);
}

.btn-select {
   padding: 10px 5px;
   border-radius: 3px;
   border: 1px solid #ddd;
   min-height: 86px;
}

.btn-select img {
    width: 120px;
}

.amountpaylabel {
    color: black !important;
    font-weight: 700 !important;
}

.top-icon {
    font-size: 30px;
    display: block;
    left: 15px;
    position: absolute;
    top: 0;
    margin-top: 20px;
}

/* Dashboard Card */
.dashboard-title p {
    margin-bottom: 0;
    text-align: left;
}

.dashboard-title span.badge {
    float: right;
}

.dashboard-card-header {
    padding: 10px !important;
    margin-top: -34px !important;
    margin-left: 0px !important;
}

span.testlabel {
    background: gray;
    float: right;
    line-height: 1.5em;
}

@media (max-width:768px) {
    span.testlabel {
        float: left;
        margin-top: 5px !important;
    }
    
    .paymenthead {
        font-size: 1em !important;
    }
    
    .payment-card-header {
        padding: 5px !important;
    }
    
    .btn-mg {
        margin-bottom: 10px !important;
    }
    
    .card-mg {
        margin-left: -10px;
        text-align: left !important;
    }
}

div.cardtext {
    text-align: left;
    margin-left: 10px;
}

/* Sidebar */
.sidebar:hover {
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}